@{
  Layout = "_Layout";
}

@using VendorTracker.Models;

<h2>Vendors</h2>

@if (@Model.Count == 0)
{
  <h3>No Vendors have been added yet!</h3>
}

@foreach (Vendor vendor in Model)
{
  <h3>Vendor: <strong> <a href="/vendors/@vendor.Id">@vendor.Name</a></strong>
  <br>
  Description: @vendor.Description</h3>
  
}

<p><a href='/'>Back home</a></p>