@{
  Layout = "_Layout";
}

<h3>Add a Vendor</h3>
<form action="/vendors" method= "post">
  <label for="name">Vendor name: </label>
  <input id="name" name="name" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back to Home Page</a></p>
<a><a href="/vendors">Back to Vendors.</a></a>