@{
  Layout = "_Layout";
}

<h2>Add a Vendor</h2>
<form action="/vendors" method= "post">
  <div class="form-group">
    <label for="name">Vendor name: </label>
    <input id="name" name="name" type="text" class="form-control">
    <label for="vdescription">Description: </label>
    <input id="vdescription" name="vdescription" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-warning">Add</button>
</form>

<p><a href="/">Back to Home Page</a></p>
<p><a href="/vendors">Back to Vendors.</a></p>