<div id="header">
  @* <div class="navbar" role="navigation"> *@
    @Html.ActionLink("HOME", "Index", "Home", null, new {@class="nav-link"})
    @Html.ActionLink("VENDOR LIST", "Index", "Vendors", null, new {@class="nav-link"})
  @* </div> *@
</div>